p {
    color: #276daf;

}

h1 {
    color: #d87625;
    margin-top: 1em;

}

#second-paragraph {


    color: #2f8b0a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#third-paragraph {


    color: #a51357;
    font-family:Arial, Helvetica, sans-serif;

}

.font1 {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


div>a {
    color:#2f8b0a;
}

body {
    background-color: rgb(235, 208, 146);
}
