
h1{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 40pt;

}

h2{
	font-style: italic;
	color:rgb(250, 250, 250);
}

.intro {
  text-align: center;
  color: beige;
  position: fixed;
  top: 0px;
  left: 0px;
  

  background-image: url("https://s3-eu-west-1.amazonaws.com/cjp-rbi-estatesgazette/wp-content/uploads/2019/02/citi-canary-wharf.jpg") ;
  background-size:contain;
  background-blend-mode:soft-light;



}

